/** Add css rules here for your application. */
body, html{padding: 0; margin: 0;background: #B5B5B5;}
.center{
	width: 960px;
	margin: auto;
	background: #fff;
	color: black;
}
.header{
	background: #900 url(/images/headerBck.png) top left no-repeat;
	border-top: 10px #333 solid;
	height: 76px;
	border-bottom: 5px #BC9436 solid;
}

.header > .logo {
	background: url(/images/logo.png)top left;
	width: 200px;
	height: 65px;
	float: left;
}

.header > .links{
	float: right; 
	background: #333;
	border-bottom-left-radius: 10px;
	color: white;
	padding: 5px 10px 5px 10px;
}
#wrapper{
	 padding: 15px;
}

#addClassForm{
	padding: 25px;
	background: #E9E8E6;
	border-radius: 15px;
}

#addClassForm > fieldset {display: table; border: none; width: 50%;}
#addClassForm > fieldset > div {display: table-row;}
#addClassForm > fieldset label {display: table-cell; margin: 5px; font-weight: bold; color: #50504E;}
#addClassForm > fieldset input.error {border: 1px solid red;}
#addClassForm > fieldset input {display: table-cell; width: 200px; height: 20px; margin: 5px;}
#addClassForm button {padding: 5px 10px; background: #C01B07; color: white; border: none; font-weight: bold; font-size: 14px; border-radius: 10px; float: right;}

/** Example rules used by the template application (remove for your app) */
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}