<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.utah.is6460.server.ClassAlertServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/classalert/classAlert</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RefreshAlerts</servlet-name>
    <servlet-class>edu.utah.is6460.server.RefreshAlerts</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RefreshAlerts</servlet-name>
    <url-pattern>/refreshAlerts</url-pattern>
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ClassAlert.html</welcome-file>
  </welcome-file-list>

</web-app>
